{% extends "account/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load allauth account %} 
{% load crispy_forms_tags %}

{% block head_title %} 
    {% trans "Login" %} 
{% endblock head_title %} 

{% block content %}

<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main class="d-flex align-items-center justify-content-center min-vh-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                  {% trans "Login" %}
                </h3>
              </div>
              <div class="card-body">
                <form method="post" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <div class="mt-4 mb-0">
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary btn-block">
                        {% trans "Login" %}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center py-3">
                <div class="small">
                  <a href="{% url 'account_signup' %}">
                    {% trans "Need an account? Sign up!" %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">
            {% trans "Copyright &copy; Your Website 2023" %}
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

{% endblock content %} 

{% if PASSKEY_LOGIN_ENABLED %} 
{% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %} 
{% endif %}
