{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
{% endblock head_title %}
    {% trans "Sign Out" %}
{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">
                    {% trans "Sign Out" %}
                  </h3>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>
                  </div>
                  {% url 'account_logout' as action_url %}
                  <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ redirect_field }}
                    <div class="mt-4 mb-0">
                      <div class="d-grid">
                        <button type="submit" class="btn btn-danger btn-block">
                          {% trans "Sign Out" %}
                        </button>
                        <hr>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock content %}
