{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
            {% url 'user_profile_view' as action_url %}
            <form method="post" action="{{ action_url }}" class="my-class">
                {% csrf_token %}
                {{ password_change_form|crispy }}
                <div class="container mt-5">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </form>
{% endblock content %}
