{% extends "account/base.html" %} 
{% load static allauth i18n %} 

{% block head_title %} 
  {% trans "Create Account" %} 
{% endblock head_title %} 

{% block head %} 
  {{ block.super }}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock head %} 

{% block content %}
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                  {% trans "Create Account" %}
                </h3>
              </div>
              <div class="card-body">
                {% if not SOCIALACCOUNT_ONLY %} 
                {% url 'account_signup' as action_url %}
                <form method="post" action="{{ action_url }}">
                  {% csrf_token %}
                  <div class="form-floating mb-3">
                    <input
                      class="form-control {% if form.name_organization.errors %}is-invalid{% endif %}"
                      id="inputOrganization"
                      type="text"
                      name="name_organization"
                      placeholder="{% trans 'Organization' %}"
                      value="{{ form.name_organization.value }}"
                    />
                    <label for="inputOrganization"
                      >{% trans "Organization/Company Name" %}</label
                    >
                    {% for error in form.name_organization.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                      id="inputUsername"
                      type="text"
                      name="username"
                      placeholder="{% trans 'Username' %}"
                      value="{{ form.username.value }}"
                    />
                    <label for="inputUsername">{% trans "Username" %}</label>
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                      id="inputEmail"
                      type="email"
                      name="email"
                      placeholder="{% trans 'Email address' %}"
                      value="{{ form.email.value }}"
                    />
                    <label for="inputEmail">{% trans "Email address" %}</label>
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                  {% if form.email2 %}
                  <div class="form-floating mb-3">
                    <input
                      class="form-control {% if form.email2.errors %}is-invalid{% endif %}"
                      id="inputEmail2"
                      type="email"
                      name="email2"
                      placeholder="{% trans 'Confirm email address' %}"
                      value="{{ form.email2.value }}"
                    />
                    <label for="inputEmail2"
                      >{% trans "Confirm Email Address" %}</label
                    >
                    {% for error in form.email2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-floating mb-3 mb-md-0">
                        <input
                          class="form-control {% if form.password1.errors %}is-invalid{% endif %}"
                          id="inputPassword1"
                          type="password"
                          name="password1"
                          placeholder="{% trans 'Create a password' %}"
                        />
                        <label for="inputPassword1"
                          >{% trans "Password" %}</label
                        >
                        {% for error in form.password1.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating mb-3 mb-md-0">
                        <input
                          class="form-control {% if form.password2.errors %}is-invalid{% endif %}"
                          id="inputPassword2"
                          type="password"
                          name="password2"
                          placeholder="{% trans 'Confirm password' %}"
                        />
                        <label for="inputPassword2"
                          >{% trans "Confirm Password" %}</label
                        >
                        {% for error in form.password2.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 mb-0">
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary btn-block">
                        {% trans "Create Account" %}
                      </button>
                    </div>
                  </div>
                  {{ redirect_field }}
                </form>
                {% endif %}
              </div>
              <div class="card-footer text-center py-3">
                <div class="small">
                  <a href="{% url 'account_login' %}"
                    >{% trans "Have an account? Go to login" %}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">
            {% trans "Copyright &copy; Your Website 2023" %}
          </div>
          <div>
            <a href="#">{% trans "Privacy Policy" %}</a>
            &middot;
            <a href="#">{% trans "Terms & Conditions" %}</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock content %}
