{% extends "account/base.html" %} 
{% load static allauth i18n %} 
{% load crispy_forms_tags %}
{% block head_title %} 
  {% trans "Create Account" %} 
{% endblock head_title %} 

{% block head %} 
  {{ block.super }}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock head %} 

{% block content %}
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                  {% trans "Create Account" %}
                </h3>
              </div>
              <div class="card-body">
                {% if not SOCIALACCOUNT_ONLY %} 
                {% url 'account_signup' as action_url %}
                <form method="post" action="{{ action_url }}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <div class="mt-4 mb-0">
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary btn-block">
                        {% trans "Create Account" %}
                      </button>
                    </div>
                  </div>
                  {{ redirect_field }}
                </form>
                {% endif %}
              </div>
              <div class="card-footer text-center py-3">
                <div class="small">
                  <a href="{% url 'account_login' %}"
                    >{% trans "Have an account? Go to login" %}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">
            {% trans "Copyright &copy; Your Website 2023" %}
          </div>
          <div>
            <a href="#">{% trans "Privacy Policy" %}</a>
            &middot;
            <a href="#">{% trans "Terms & Conditions" %}</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock content %}
