{% extends "dashboard/base.html" %}

{% block title %}
  Usuarios {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container mt-4">
  <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
          <h1>Lista de Usuários</h1>
          <a class="btn btn-primary" href="{% url "user_create_view" %}">Incluir</a>
      </div>
      <div class="card-body">
          <table class="table">
              <thead>
                  <tr>
                      <th>Nome</th>
                      <th>Equipe</th>
                      <th>Permissão</th>
                      <th>Ações</th>
                  </tr>
              </thead>
              <tbody>
                  {% for user in object_list %}
                  <tr>
                      <td>{{ user.user }}</td>
                      <td>{{ user.organization }}</td>
                      <td>{{ user.get_type_permission_display }}</td>
                      <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" data-id="{{ user.pk }}">
                        Excluir
                    </button></td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan="3" class="text-center">Nenhum usuário encontrado.</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>

{% include "administration/confirm_delete.html" %}


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var deleteModal = document.getElementById('exampleModalCenter');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Botão que abriu o modal
            var userId = button.getAttribute('data-id'); // ID do usuário a ser excluído
            var form = document.getElementById('deleteForm');
        });
    });
    </script>

{% endblock %}