{% extends "dashboard/base.html" %} 
{% load static allauth i18n %} 
{% load crispy_forms_tags %}
{% block title %} 
  Novo Usuario{{ block.super }} 
{% endblock title %} 

{% block content %}
<div class="container mt-4">
  <div class="card">
    <h1 class="p-3">{% trans "Add New User" %}</h1>
    <div class="card-body">
      <form method="post" class="my-class">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="container mt-5">
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-block">
              {% trans "Save" %}
            </button>
            <a href="{% url 'user_list_view' %}" class="btn btn-primary">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
