<div class="card">
    <div class="card-header">
      <h1>Lista de Tarefas</h1>
      <button class="btn btn-primary">Nova Tarefa</button>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Detalhes</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Primeiros Passos</a></td>
            <td><button class="btn btn-secondary btn-sm">Detalhes</button></td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Excluir</button>
            </td>
          </tr>
          <tr>
            <td><a href="">Tarefa 1</a></td>
            <td><button class="btn btn-secondary btn-sm">Detalhes</button></td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>   
  
    </div>
  </div>