{% extends "dashboard/base.html" %}
{% load static allauth i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h1>Detalhes das Tarefas</h1>
    <a href="{% url 'tasks_list' %}" class="btn btn-secondary">Voltar</a>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Coluna de Detalhes de tarefas-->
      <div class="col-md-6">
        <p><strong>Status:</strong> {{ object.get_status_display }}</p>
        <p id="task-room-name" data-room-name="{{ object.id }}"><strong>Titulo:</strong> {{ object.title }}</p>
        <p><strong>Descrição:</strong> {{ object.description }}</p>
        <p><strong>Criado em:</strong> {{ object.created_at }}</p>
        <p><strong>Atualizado em:</strong> {{ object.updated_at }}</p>
        <p><strong>Atribuído a:</strong> {{ object.assigned_to }}</p>
        <p><strong>Categoria:</strong> {{ object.category|default:"-" }}</p>
      </div>
      <!-- Coluna de Comentários -->
      <div class="col-md-6">
        {% include "tasks/comment.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
